/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #6db3f2; 
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.calculator {
    width: 350px;
    background: #090909;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    padding: 20px;
}

.display {
    margin-bottom: 20px;
}

.display input {
    width: 100%;
    height: 40px;
    background: #e0e0e0;
    border: none;
    border-radius: 10px;
    text-align: right;
    font-size: 24px;
    padding-right: -2px;
    margin-bottom: 10px;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.button {
    height: 60px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    font-size: 18px;
    transition: all 0.2s ease;
}

.button:active {
    background: #e6e6e6;
    box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}

.button:hover {
    background: linear-gradient(145deg, #dcdcdc, #ffffff);
    box-shadow: 2px 2px 5px #bebebe, -2px -2px 5px #ffffff;
}

.equal {
    grid-column: span 2;
    background: #6db3f2;
    color: white;
    font-weight: bold; 
}

.equal:active {
    background: #559cd9;
    box-shadow: inset 5px 5px 10px #4b9ecf, inset -5px -5px 10px #85c5ff;
}

.equal:hover {
    background: #6db3f2;
}
